<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <RoadsOfTheRim>边缘之路</RoadsOfTheRim>
  <RoadsOfTheRimAddConstructionSite>修建道路</RoadsOfTheRimAddConstructionSite>
  <RoadsOfTheRimAddConstructionSiteDescription>创建工地，进行道路施工</RoadsOfTheRimAddConstructionSiteDescription>
  <RoadsOfTheRimRemoveConstructionSite>取消修路</RoadsOfTheRimRemoveConstructionSite>
  <RoadsOfTheRimRemoveConstructionSiteDescription>移除工地，取消道路建设</RoadsOfTheRimRemoveConstructionSiteDescription>
  <RoadsOfTheRim_CantDestroyResourcesAlreadyConsumed>无法移除工地 : 资源已部分消耗</RoadsOfTheRim_CantDestroyResourcesAlreadyConsumed>
  <RoadsOfTheRimWorkOnSite>道路施工</RoadsOfTheRimWorkOnSite>
  <RoadsOfTheRimWorkOnSiteDescription>开始道路施工</RoadsOfTheRimWorkOnSiteDescription>
  <RoadsOfTheRimSettingsCategoryLabel>边缘之路</RoadsOfTheRimSettingsCategoryLabel>
  <RoadsOfTheRimSettingsBaseEffort>道路建筑施工基础倍率</RoadsOfTheRimSettingsBaseEffort>
  <RoadsOfTheRimSettingsOverrideCosts>覆盖标准移动速度倍率 (需要重启游戏)</RoadsOfTheRimSettingsOverrideCosts>
  <RoadsOfTheRimBuildConstructionSiteAlreadyHere>此处已有道路工地</RoadsOfTheRimBuildConstructionSiteAlreadyHere>
  <RoadsOfTheRimBuildConstructionSiteNotAlreadyHere>此处没有道路工地</RoadsOfTheRimBuildConstructionSiteNotAlreadyHere>
  <RoadsOfTheRim_MustPickNeighbouringTile>必须选择相邻区域修建道路</RoadsOfTheRim_MustPickNeighbouringTile>
  <RoadsOfTheRim_SameRoadAlreadyExists>两地之间已有同等级道路了</RoadsOfTheRim_SameRoadAlreadyExists>
  <RoadsOfTheRim_BuildToHere>修建道路到此处</RoadsOfTheRim_BuildToHere>
  <RoadsOfTheRimWorkOnSite>施工</RoadsOfTheRimWorkOnSite>
  <RoadsOfTheRimWorkOnSiteDescription>在建筑工地施工</RoadsOfTheRimWorkOnSiteDescription>
  <RoadsOfTheRimStopWorkingOnSite>暂停施工</RoadsOfTheRimStopWorkingOnSite>
  <RoadsOfTheRimStopWorkingOnSiteDescription>停下修建道路的工作</RoadsOfTheRimStopWorkingOnSiteDescription>
  <RoadsOfTheRim_CaravanNoResource>{0} 已耗尽，无法建筑 {1}. 工作已停止.</RoadsOfTheRim_CaravanNoResource>
  <RoadsOfTheRim_RoadBuilt>道路修建完成</RoadsOfTheRim_RoadBuilt>
  <RoadsOfTheRim_RoadBuiltLetterText>{1}已修建完成{0}</RoadsOfTheRim_RoadBuiltLetterText>
  <!--The following translations were generated by https://www.deepl.com/-->
  <RoadsOfTheRim_BiomePreventsConstruction>{0}不能建立在{1}中</RoadsOfTheRim_BiomePreventsConstruction>
  <RoadsOfTheRim_ConfirmDestroyResourcesAlreadyConsumed>删除这个网站，你将失去所有已经消耗的资源。{0}</RoadsOfTheRim_ConfirmDestroyResourcesAlreadyConsumed>
  <RoadsOfTheRim_ConstructionSiteDescription_Main>建设{0}完成</RoadsOfTheRim_ConstructionSiteDescription_Main>
  <RoadsOfTheRim_ConstructionSiteDescription_Help>，由{0}[{1}工作@{2}/秒]帮助。</RoadsOfTheRim_ConstructionSiteDescription_Help>
  <RoadsOfTheRim_ConstructionSiteDescription_HelpStartsWhen>从{0}天开始</RoadsOfTheRim_ConstructionSiteDescription_HelpStartsWhen>
  <RoadsOfTheRim_ConstructionSiteDescription_CostModifiers>.   {0}：海拔{1}，山丘{2}，沼泽{3}，桥梁{4}。</RoadsOfTheRim_ConstructionSiteDescription_CostModifiers>
  <RoadsOfTheRim_ConstructionSiteDescription_Resource>{1}{2}{3}的左边{0}</RoadsOfTheRim_ConstructionSiteDescription_Resource>
  <RoadsOfTheRim_ConstructionSiteDescription_ISR2Gwork>，ISR2G使工作速度慢了4倍</RoadsOfTheRim_ConstructionSiteDescription_ISR2Gwork>
  <RoadsOfTheRim_ConstructionSiteDescription_AISR2Gwork>AISR2G使工作速度慢了2倍</RoadsOfTheRim_ConstructionSiteDescription_AISR2Gwork>
  <RoadsOfTheRim_ConstructionSiteDescription_ISR2GFree>, 由ISR2G免费收集整理</RoadsOfTheRim_ConstructionSiteDescription_ISR2GFree>
  <RoadsOfTheRim_ConstructionSiteDescription_AISR2GFree>, 由AISR2G免费收集整理</RoadsOfTheRim_ConstructionSiteDescription_AISR2GFree>
  <RoadsOfTheRim_WITab_Caravan_Build>构建</RoadsOfTheRim_WITab_Caravan_Build>
  <RoadsOfTheRim_commsAskHelp>向盟友请求帮助修路（费用：10善意）。</RoadsOfTheRim_commsAskHelp>
  <RoadsOfTheRim_commsNoSites>没有发现施工现场</RoadsOfTheRim_commsNoSites>
  <RoadsOfTheRim_commsAlreadyHelping>这个派别已经在帮助修路了</RoadsOfTheRim_commsAlreadyHelping>
  <RoadsOfTheRim_commsHasHelpedRecently>这个派别最近帮助了道路建设。它可以在{0}天内再次提供帮助</RoadsOfTheRim_commsHasHelpedRecently>
  <RoadsOfTheRim_commsNotClose>{0}在这个建筑工地上没有足够的帮助</RoadsOfTheRim_commsNotClose>
  <RoadsOfTheRim_commsAnotherFactionIsHelping>{0}已经在这个施工现场帮忙了</RoadsOfTheRim_commsAnotherFactionIsHelping>
  <RoadsOfTheRim_commsNotDevelopedEnough>{0}不够发达，无法建设{1}。</RoadsOfTheRim_commsNotDevelopedEnough>
  <RoadsOfTheRim_commsSitesList>建筑工地</RoadsOfTheRim_commsSitesList>
  <RoadsOfTheRim_commsCancel>取消 - 没有商誉成本</RoadsOfTheRim_commsCancel>
  <RoadsOfTheRim_FactionStartsHelping>帮助建设</RoadsOfTheRim_FactionStartsHelping>
  <RoadsOfTheRim_FactionStartsHelpingText>{0}已经同意帮助建设{1}，帮助将在{2}天开始。</RoadsOfTheRim_FactionStartsHelpingText>
  <RoadsOfTheRim_FactionStopsHelping>取消的帮助</RoadsOfTheRim_FactionStopsHelping>
  <RoadsOfTheRim_FactionStopsHelpingText>{0}不再是你的盟友，也不再对{1}的建设提供帮助。</RoadsOfTheRim_FactionStopsHelpingText>
  <RoadsOfTheRim_InsufficientConstructionMinLevel>道路建设减少到{0}：需要{1}的劳动力至少拥有{2}的建筑技能</RoadsOfTheRim_InsufficientConstructionMinLevel>
  <RoadsOfTheRimSettingsElevationThreshold>费用开始增加的海拔高度</RoadsOfTheRimSettingsElevationThreshold>
  <RoadsOfTheRimSettingsUpgradeRebate>从现有道路上抢救出来的资源的百分比</RoadsOfTheRimSettingsUpgradeRebate>
  <RoadsOfTheRimSettingsUseISR2G>使用原地道路资源采集器</RoadsOfTheRimSettingsUseISR2G>
  <RoadsOfTheRim_CaravanInspectStringWorkingOn>工作于：{0}[{1}工作/秒]</RoadsOfTheRim_CaravanInspectStringWorkingOn>
  <RoadsOfTheRim_CreateConstructionSiteMenuOption>{0}（运动：{1}）。</RoadsOfTheRim_CreateConstructionSiteMenuOption>
  <RoadsOfTheRim_NoBetterRoadCouldBeBuilt>没有比这更好的路可建了</RoadsOfTheRim_NoBetterRoadCouldBeBuilt>
  <RotR_EveryoneDown>每个人都在下降</RotR_EveryoneDown>
  <RotR_EveryoneCrazy>每个人都在进行精神休息</RotR_EveryoneCrazy>
  <RotR_TooHeavy>太重了，无法移动</RotR_TooHeavy>
  <RotR_RestingAtNight>晚上休息。工作将在早上恢复。</RotR_RestingAtNight>
  <RotR_CaravanStopped>{0}停止建造{1}。</RotR_CaravanStopped>
  <RotR_CaravanWakesUp>{0}恢复建设{1}。</RotR_CaravanWakesUp>
  <RoadsOfTheRimBuildWorkOnSiteCantWork>{0}现在无法修建道路</RoadsOfTheRimBuildWorkOnSiteCantWork>
  <RoadsOfTheRim_BetterRoadFound>{0}在建造{2}的时候发现了{1}，并且正在向下一个阶段发展。</RoadsOfTheRim_BetterRoadFound>
  <RoadsOfTheRim_siteInspectString>建筑物{0}（移动难度{1}）。</RoadsOfTheRim_siteInspectString>
  <RoadsOfTheRim_siteDescription>{0}（{1}天）</RoadsOfTheRim_siteDescription>
  <RoadsOfTheRim_siteDescriptionExtra>和{0}更多</RoadsOfTheRim_siteDescriptionExtra>
  <RoadsOfTheRim_siteFullName>网站建设{0}。</RoadsOfTheRim_siteFullName>
  <RoadsOfTheRim_siteFullNameNeighbours>在{0}附近</RoadsOfTheRim_siteFullNameNeighbours>
  <RoadsOfTheRim_CaravanNoWork>{0}没有卒能够建造{1}。工作停止。</RoadsOfTheRim_CaravanNoWork>
  <RoadsOfTheRim_UpgradeRebate>现有的道路使建造{0}的成本减少{1}。</RoadsOfTheRim_UpgradeRebate>
  <RoadsOfTheRim_UpgradeRebateDetail>{0} {1}</RoadsOfTheRim_UpgradeRebateDetail>
  <RoadsOfTheRim_RoadBuiltByAlly>你的盟友</RoadsOfTheRim_RoadBuiltByAlly>
  <RoadsOfTheRim_RoadEquipment>公路设备</RoadsOfTheRim_RoadEquipment>
  <RoadsOfTheRim_ModVersion>已安装的mod-version。{0}</RoadsOfTheRim_ModVersion>
</LanguageData>